@model User
<div class="card shadow-lg">
    <div class="card-body">
        <form asp-action="CreateUser" asp-controller="User" method="post">
            <div class="m-3 row">
                <label class="form-label col-4" asp-for="FirstName"></label>
                <input class="form-control col" asp-for="FirstName">
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="m-3 row">
                <label class="form-label col-4" asp-for="LastName"></label>
                <input class="form-control col" asp-for="LastName">
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
            <div class="m-3 row">
                <label class="form-label col-4" asp-for="Email"></label>
                <input class="form-control col" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="m-3 row">
                <label class="form-label col-4" asp-for="Password"></label>
                <input class="form-control col" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="m-3 row">
                <label class="form-label col-4" asp-for="ConfirmPassword"></label>
                <input class="form-control col" asp-for="ConfirmPassword">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>

            <button class="btn btn-primary float-end m-3">Submit</button>
        </form>
    </div>
</div>